/* @media (min-width: 800px) and (max-width: 990px){
  .gridContainer-checkbox {
    display: grid;
    grid-template-columns: 20px 670px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin-left: 7.5%;
    margin-top: 20px;
    padding-left: 170px;
  }

  .caixa-checkbox {
    padding: 10px;
    grid-column-gap: 0px;
    width: .5px;
    height: .2px;
    border-radius: 3.5px;
    background-color: #e0e0e0;
  }

  .gridContainer-button-modelo6 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 70px;
    grid-column-gap: 15px;
    padding-left: 26%;
  }
}

@media (min-width: 991px) and (max-width: 1450px) {
  .gridContainer-checkbox {
    display: grid;
    grid-template-columns: 20px 670px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin-left: 7.5%;
    margin-top: 20px;
    padding-left: 170px;
  }

  .caixa-checkbox {
    padding: 10px;
    grid-column-gap: 0px;
    width: .5px;
    height: .2px;
    border-radius: 3.5px;
    background-color: #e0e0e0;
  }

  .gridContainer-button-modelo6 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 70px;
    grid-column-gap: 15px;
    padding-left: 26%;
  }

}

@media (min-width: 1451px) {
  .gridContainer-checkbox {
    display: grid;
    grid-template-columns: 20px 670px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin-left: 5%;
    margin-top: 20px;
    padding-left: 30%;
  }

  .caixa-checkbox {
    padding: 10px;
    grid-column-gap: 0px;
    width: .5px;
    height: .2px;
    border-radius: 3.5px;
    background-color: #e0e0e0;
  }

  .gridContainer-button-modelo6 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 70px;
    grid-column-gap: 15px;
    padding-left: 37%;
  }

} */
