/* ----- Modelo Quatro ------ */

@media (min-width: 651px) and (max-width: 799px){

}

@media (min-width: 800px) and (max-width: 990px){
  /* Estilo Alert */
  .alerta2 {
      border: 3px solid #38465B;
      border-radius: 10px;
      margin-top: -8px;
      margin-left: 36%;
      background-color: #f7f7f7;
      display: none;
    }

    .resposta-certa{
      display: none;
    }

    .botaoOk {
       text-transform: uppercase;
       color: white;
       background-color: #38465b;
       text-decoration: none;
       box-shadow: 2px 2px 8px #888888;
       border-radius: 3px;
       border: none;
       padding: 10px;
       margin: 20px 33% 20px 33%;
       cursor: pointer;
   }
   .botaoOk:hover {
       color: #ccc;
       background-color: #3b5987;
       box-shadow: 4px 4px 10px #888888;
   }

   /* Estilo Botoes Diferenciados */
   .botao-enviar-gabarito{
     text-transform: uppercase;
     text-align: center;
     color: white;
     background-color: #ed3a47;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-enviar-gabarito:hover{
     background-color: #d33338;
     box-shadow: 4px 4px 10px #888888;

   }

   .botao-refazer{
     text-transform: uppercase;
     text-align: center;
     color: white;
     background-color: #38465b;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-refazer:hover{
     background-color: #607789;
     box-shadow: 4px 4px 10px #888888;

   }

   /* classes usadas em mais de um modelo */
   .inicio-diferenciados p{
     font-size: 20px;
     font-weight: 500;
     color: black;
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0;
     margin-left: 32%;
   }

   .border-diferenciados{
     font-size: 15px;
     width: 700px;
     height: auto;
     padding: 20px;
     border: 2px solid #61788A;
     margin-left: 7%;
   }

   /* Modelo 4 */
   .gridContainer-modelo4{
     display: grid;
     grid-template-columns: 200px 200px 200px;
     grid-row-gap: 60px;
     margin-top: 15px;
     grid-column-gap: 40px;
   }

   .dropabble-modelo4{
     width: 165px;
     height: 90px;
     background: white;
     border: 3px dashed #61788A;
     padding-top: 10px;
     border-radius: 10px;
   }

   .draggable-modelo4{
     width: 150px;
     height: 80px;
     background: #DEE5E8;
     color: #000000;
     padding-top: 10px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: center;
     cursor: grab;
     display: flex;
     align-items: center;
     font-size: 10.5pt;
     box-shadow: 2px 2px 4px #888888;
   }
   .draggable-modelo4:hover{
     box-shadow: 2px 2px 7px #888888;
     background: #a5c0cc;
     border: 2px solid #DEE5E8;
   }

   .topicos-modelo4{
     width: 150px;
     margin-top: -10px;
     margin-left: 30px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: left;
     line-height: 1.5;
     display: flex;
     align-items: center;
     color: #000000;
   }


  .gridContainer-button-modelo4{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 50px;
    grid-column-gap: 15px;
    padding-left: 27%;
  }
}

@media (min-width: 991px) and (max-width: 1450px) {
  /* Estilo Alert */
  .alerta2 {
      border: 3px solid #38465B;
      border-radius: 10px;
      margin-top: -8px;
      margin-left: 36%;
      background-color: #f7f7f7;
      display: none;
    }

    .botaoOk {
       text-transform: uppercase;
       color: white;
       background-color: #38465b;
       text-decoration: none;
       box-shadow: 2px 2px 8px #888888;
       border-radius: 3px;
       border: none;
       padding: 10px;
       margin: 20px 33% 20px 33%;
       cursor: pointer;
   }
   .botaoOk:hover {
       color: #ccc;
       background-color: #3b5987;
       box-shadow: 4px 4px 10px #888888;
   }

   /* Estilo Botoes Diferenciados */
   .botao-enviar-gabarito{
     text-transform: uppercase;
     text-align: center;
     color: white;
     background-color: #ed3a47;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-enviar-gabarito:hover{
     background-color: #d33338;
     box-shadow: 4px 4px 10px #888888;

   }

   .botao-refazer{
     text-transform: uppercase;
     text-align: center;
     color: white;
     background-color: #38465b;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-refazer:hover{
     background-color: #607789;
     box-shadow: 4px 4px 10px #888888;

   }

   /* classes usadas em mais de um modelo */
   .inicio-diferenciados p{
     font-size: 20px;
     font-weight: 500;
     color: black;
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0;
     margin-left: 32%;
   }

   .border-diferenciados{
     font-size: 15px;
     width: 700px;
     height: auto;
     padding: 20px;
     border: 2px solid #61788A;
     margin-left: 12%;
   }

   /* Modelo 4 */
   .gridContainer-modelo4{
     display: grid;
     grid-template-columns: 200px 200px 200px;
     grid-row-gap: 60px;
     margin-top: 15px;
     grid-column-gap: 40px;
   }

   .dropabble-modelo4{
     width: 165px;
     height: 90px;
     background: white;
     border: 3px dashed #61788A;
     padding-top: 10px;
     border-radius: 10px;
   }

   .draggable-modelo4{
     width: 150px;
     height: 80px;
     background: #DEE5E8;
     color: #000000;
     padding-top: 10px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: center;
     cursor: grab;
     display: flex;
     align-items: center;
     font-size: 10.5pt;
     box-shadow: 2px 2px 4px #888888;
   }
   .draggable-modelo4:hover{
     box-shadow: 2px 2px 7px #888888;
     background: #a5c0cc;
     border: 2px solid #DEE5E8;
   }

   .topicos-modelo4{
     width: 150px;
     margin-top: -10px;
     margin-left: 30px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: left;
     line-height: 1.5;
     display: flex;
     align-items: center;
     color: #000000;
   }


  .gridContainer-button-modelo4{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 50px;
    grid-column-gap: 15px;
    padding-left: 32%;
  }
}

@media (min-width: 1451px) {
  /* Estilo Alert */
  .alerta2{
      border: 3px solid #38465B;
      border-radius: 10px;
      margin-top: -8px;
      margin-left: 37%;
      text-align: center;
      background-color: #f7f7f7;
      display: none;
    }

    .botaoOk {
       text-transform: uppercase;
       color: white;
       background-color: #38465b;
       text-decoration: none;
       box-shadow: 2px 2px 8px #888888;
       border-radius: 3px;
       border: none;
       padding: 10px;
       margin: 20px 33% 20px 33%;
       cursor: pointer;
   }
   .botaoOk:hover {
       color: #ccc;
       background-color: #3b5987;
       box-shadow: 4px 4px 10px #888888;
   }

   /* Estilo Botoes Diferenciados */
   .botao-enviar-gabarito{
     text-transform: uppercase;
     color: white;
     background-color: #ed3a47;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-enviar-gabarito:hover{
     background-color: #d33338;
     box-shadow: 4px 4px 10px #888888;

   }

   .botao-refazer{
     text-transform: uppercase;
     text-align: center;
     color: white;
     background-color: #38465b;
     text-decoration: none;
     box-shadow: 2px 2px 8px #888888;
     border-radius: 3px;
     border: none;
     padding: 10px;
     cursor: pointer;
   }
   .botao-refazer:hover{
     background-color: #607789;
     box-shadow: 4px 4px 10px #888888;

   }

   /* classes usadas em mais de um modelo */
   .inicio-diferenciados p{
     font-size: 18px;
     font-weight: 500;
     color: black;
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0;
     text-align: center;
     margin-left: 0%;
   }

   .border-diferenciados{
     font-size: 15px;
     width: 700px;
     height: auto;
     padding: 20px;
     border: 2px solid #61788A;
     margin-left: 23%;
   }

   /* Modelo 4 */
   .gridContainer-modelo4{
     display: grid;
     grid-template-columns: 200px 200px 200px;
     grid-row-gap: 60px;
     margin-top: 15px;
     grid-column-gap: 40px;
   }

   .dropabble-modelo4{
     width: 165px;
     height: 90px;
     background: white;
     border: 3px dashed #61788A;
     padding-top: 10px;
     border-radius: 10px;
   }

   .draggable-modelo4{
     width: 150px;
     height: 80px;
     background: #DEE5E8;
     color: #000000;
     padding-top: 10px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: center;
     cursor: grab;
     display: flex;
     align-items: center;
     font-size: 10.5pt;
     box-shadow: 2px 2px 4px #888888;
   }
   .draggable-modelo4:hover{
     box-shadow: 2px 2px 7px #888888;
     background: #a5c0cc;
     border: 2px solid #DEE5E8;
   }

   .topicos-modelo4{
     width: 150px;
     margin-top: -10px;
     margin-left: 30px;
     border-radius: 10px;
     border: 3px solid transparent;
     text-align: left;
     line-height: 1.5;
     display: flex;
     align-items: center;
     color: #000000;
   }

   .gridContainer-button-modelo4{
     display: grid;
     grid-template-columns: 100px 100px 100px;
     margin-top: 50px;
     grid-column-gap: 15px;
     padding-left: 37%;
   }

}
