@media (min-width: 651px) and (max-width: 799px){

}

@media (min-width: 800px) and (max-width: 990px){

}

body {
  font-family: "Barlow",sans-serif;
}

.container {
  margin-left: 20px;
}

.title-modelo3{
padding-left: 30px;
}

.spanTitle-modelo3{
font-size: 14pt;
color: #a01f1f;
}

.btn-modelo3 {
  margin-top: 20px;
  background-color: #d33338;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: 0;
  width: 150px;
  font-size: 1em;
  margin-left: 6.5%;
  text-align: center;
}

.btn-modelo3:hover {
cursor: pointer;
}

.form-control-modelo3{
  display: block;
  width: 600px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.collapse-modelo3{
display: none;
}

::placeholder{
font-family: "Barlow", sans-serif;
}

.paragraph-two-modelo2 {
  color: black;
}
