@charset "UTF-8";
.page-title {
  display: none !important; }

.pages.show .show-content {
  padding: 0; }

.header-bar {
  border-bottom: none; }

#quiz-time-elapsed {
  display: none; }

body {
  counter-reset: footnotes; }

@media print {
  .header-bar, .quiz-header, .quiz-submission .alert, .quiz_score, .quiz-submission .quiz_duration, .answer_arrow {
    display: none; } }
/* -------------------------
--------- CONTENT ----------
------------------------- */
.user_content, .quiz_comment {
  /* max-width: $max-width */
  margin: 0 auto;
  /* ----- Itens de vídeo ----- */
  /* ----- Texto ----- */
  /* ----- Elementos do Texto ----- */
  /* compatibilidade */
  /* ----- Lista ----- */
  /* compatibilidade
  ul, ol {
    list-style: none;
    font-size: 15px;
    line-height: 150%;
    color: $color_gray;
  }
  ul {
    padding-left: 2.1em;
    line-height: 150%;
    & > ul {
      padding-left: 1.7em;
      list-style-position: inside;
    }
    li {
      list-style-type: none;
      position: relative;
    }
    li:before {
      content: "•";
      color: $color_primary;
      left: -2.5em;
      position: absolute;
      text-align: right;
      width: 1.5em;
    }
  }
  ol {
    padding-left: 2.1em;
    li ol {
      list-style-position: inside;
      padding-left: 2px;
      counter-reset: list;
    }
    li {
      counter-increment: list;
      list-style-type: none;
      position: relative;
    }
    li:before {
      content: counter(list) ".";
      color: $color_primary;
      left: -2.5em;
      position: absolute;
      text-align: right;
      width: 1.5em;
      font-weight: bold;
    }
    &.a li:before { content: counter(list, lower-alpha)"." }
    &.i li:before { content: counter(list, lower-roman)"." }
  } */
  /*---------------------------------------------
  INICIO LISTAS----------------------------------
  ----------------------------------------------*/
  /*-------------------ESTILOS DE CONTADOR----------------------*/
  /* ----- Tabela ----- */
  /* ----- Notas de rodapé ----- */
  /* Comentários dos Testes */ }
  .user_content .container, .quiz_comment .container {
    max-width: 700px;
    margin: 0 auto; }
  .user_content .content iframe, .user_content iframe, .quiz_comment .content iframe, .quiz_comment iframe {
    height: 405px;
    transform: translateY(2px);
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow: auto; }
  .user_content .arredondado, .quiz_comment .arredondado {
    border-radius: 20px; }
  .user_content iframe[src*="youtube"], .quiz_comment iframe[src*="youtube"] {
    min-width: 700px !important; }
  .user_content .btn, .quiz_comment .btn {
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 0.25s;
    cursor: pointer; }
    .user_content .btn:hover, .quiz_comment .btn:hover {
      background-color: #00838f; }
    .user_content .btn.btn-padrao, .quiz_comment .btn.btn-padrao {
      background-color: #f2f2f2;
      color: black;
      border: 1px solid #C7CDD1; }
      .user_content .btn.btn-padrao:hover, .user_content .btn.btn-padrao:focus, .quiz_comment .btn.btn-padrao:hover, .quiz_comment .btn.btn-padrao:focus {
        background-color: #e8e8e8; }
  .user_content .btn-bar, .quiz_comment .btn-bar {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
    font-size: 12px; }
    .user_content .btn-bar a, .quiz_comment .btn-bar a {
      max-width: 50%;
      background-color: #f2f2f2;
      color: black;
      text-align: center; }
      .user_content .btn-bar a:hover, .quiz_comment .btn-bar a:hover {
        background-color: #e5e5e5; }
    .user_content .btn-bar a:not(:last-child), .quiz_comment .btn-bar a:not(:last-child) {
      border-right: 2px solid white; }
  .user_content h1, .quiz_comment h1 {
    margin: 0;
    font-weight: bold; }
  .user_content h2, .user_content h3, .quiz_comment h2, .quiz_comment h3 {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-transform: uppercase; }
  .user_content h4, .quiz_comment h4 {
    margin-top: 2em; }
  .user_content h5, .quiz_comment h5 {
    font-size: 12px;
    color: #005662;
    border-bottom: 1px solid #005662;
    padding-bottom: 5px;
    margin-top: 3em;
    text-transform: uppercase; }
  .user_content p, .quiz_comment p {
    color: black;
    line-height: 150%;
    font-size: 15px; }
  .user_content a, .quiz_comment a {
    color: #20399d; }
  .user_content blockquote, .quiz_comment blockquote {
    font-size: 14px;
    margin-left: 30px;
    font-style: italic;
    color: black;
    border-left: 0; }
  .user_content hr, .quiz_comment hr {
    margin-top: 1em;
    margin-bottom: 1rem;
    width: 100%;
    border-top: 1px solid #005662;
    margin-left: 0;
    text-align: left; }
  .user_content hr + h4, .quiz_comment hr + h4 {
    color: #005662;
    margin-top: 1em; }
  .user_content img, .quiz_comment img {
    max-width: 100%;
    height: auto; }
  .user_content figure, .quiz_comment figure {
    text-align: center; }
  .user_content figcaption, .quiz_comment figcaption {
    color: black;
    font-size: 12px;
    max-width: 500px;
    text-align: center;
    margin: auto; }
  .user_content .caixa, .quiz_comment .caixa {
    padding: 15px 30px;
    background-color: #f2f2f2; }
    .user_content .caixa h4, .quiz_comment .caixa h4 {
      margin-top: 1em;
      color: black; }
  .user_content .destaque, .quiz_comment .destaque {
    margin: 50px 0; }
    .user_content .destaque hr, .quiz_comment .destaque hr {
      width: 100%;
      border-top: 1px solid #005662;
      margin-left: 0;
      text-align: left; }
    .user_content .destaque h4, .quiz_comment .destaque h4 {
      color: #005662;
      margin-top: 1em; }
  .user_content ul, .user_content ol, .quiz_comment ul, .quiz_comment ol {
    list-style: none;
    font-size: 15px;
    line-height: 150%;
    color: black;
    padding-left: 55px;
    line-height: 150%; }
  .user_content ul ol, .user_content ol ol, .user_content ul li ol, .user_content ol li ol, .quiz_comment ul ol, .quiz_comment ol ol, .quiz_comment ul li ol, .quiz_comment ol li ol {
    list-style-position: inside;
    padding-left: 1.7em;
    counter-reset: list; }
  .user_content ul ul, .user_content ol ul, .user_content ul li ul, .user_content ol li ul, .quiz_comment ul ul, .quiz_comment ol ul, .quiz_comment ul li ul, .quiz_comment ol li ul {
    padding-left: 1.4em;
    list-style-position: inside; }
  .user_content ol > li, .quiz_comment ol > li {
    counter-increment: list;
    list-style-type: none;
    position: relative; }
  .user_content ul > li, .quiz_comment ul > li {
    list-style-type: none;
    position: relative; }
  .user_content ul > li:before, .quiz_comment ul > li:before {
    content: "•";
    color: #005662;
    left: -2.5em;
    position: absolute;
    text-align: right;
    width: 1.5em; }
  .user_content ol > li:before, .quiz_comment ol > li:before {
    content: counter(list) ".";
    color: #005662;
    left: -2.5em;
    position: absolute;
    text-align: right;
    width: 1.5em;
    font-weight: bold; }
  .user_content ol.a > li:before, .quiz_comment ol.a > li:before {
    content: counter(list,lower-alpha) "."; }
  .user_content ol.a-caps > li:before, .quiz_comment ol.a-caps > li:before {
    content: counter(list,upper-alpha) "."; }
  .user_content ol.i > li:before, .quiz_comment ol.i > li:before {
    content: counter(list,upper-roman) "."; }
  .user_content ol.i-min > li:before, .quiz_comment ol.i-min > li:before {
    content: counter(list,lower-roman) "."; }
  .user_content table, .quiz_comment table {
    border-collapse: collapse;
    width: 100%;
    /* margin-left: 0!important;
    margin-right: 0!important; */
    margin-top: 2em;
    margin-bottom: 2em;
    /* compatibilidade */
    /**/ }
    .user_content table th, .user_content table td, .quiz_comment table th, .quiz_comment table td {
      text-align: left;
      padding: .3em 1em;
      border-bottom: 1px solid black;
      border-top: 1px solid black; }
    .user_content table th, .quiz_comment table th {
      background-color: #f2f2f2; }
    .user_content table thead th, .quiz_comment table thead th {
      background-color: #fff;
      border-top: 0;
      border-bottom: 2px solid black; }
    .user_content table thead tr, .quiz_comment table thead tr {
      border-bottom: 2px solid black; }
    .user_content table thead td, .quiz_comment table thead td {
      background-color: #fff;
      border-top: 0;
      font-weight: bold; }
    .user_content table tfoot tr, .quiz_comment table tfoot tr {
      border-top: 2px solid black; }
    .user_content table th.center, .user_content table td.center, .quiz_comment table th.center, .quiz_comment table td.center {
      text-align: center; }
    .user_content table th.right, .user_content table td.right, .quiz_comment table th.right, .quiz_comment table td.right {
      text-align: right; }
    .user_content table.head_sidebar tbody td:first-child, .quiz_comment table.head_sidebar tbody td:first-child {
      background-color: #f2f2f2;
      font-weight: bold; }
  .user_content .footer, .quiz_comment .footer {
    margin-top: 60px; }
    .user_content .footer *, .user_content .footer ol li:before, .quiz_comment .footer *, .quiz_comment .footer ol li:before {
      color: #4d4d4d; }
    .user_content .footer ol li:before, .quiz_comment .footer ol li:before {
      content: "[" counter(list) "]"; }
    .user_content .footer hr, .quiz_comment .footer hr {
      width: 100%;
      border-top: 1px solid #4d4d4d;
      margin-left: 0;
      text-align: left; }
    .user_content .footer :target, .quiz_comment .footer :target {
      background: #f2f2f2; }
    .user_content .footer .visually-hidden, .quiz_comment .footer .visually-hidden {
      position: absolute;
      clip: rect(0 0 0 0);
      visibility: hidden;
      opacity: 0; }
  .user_content [aria-describedby="footnote-label"], .quiz_comment [aria-describedby="footnote-label"] {
    counter-increment: footnotes;
    text-decoration: none;
    color: inherit;
    cursor: default;
    outline: none; }
    .user_content [aria-describedby="footnote-label"]::after, .quiz_comment [aria-describedby="footnote-label"]::after {
      content: "[" counter(footnotes) "]";
      vertical-align: super;
      font-size: 0.6em;
      margin-left: 2px;
      color: #005662;
      cursor: pointer; }
    .user_content [aria-describedby="footnote-label"]:focus::after, .quiz_comment [aria-describedby="footnote-label"]:focus::after {
      outline: thin dotted;
      outline-offset: 2px; }
  .user_content [aria-label="Back to content"], .quiz_comment [aria-label="Back to content"] {
    font-size: 0.8em; }

.quiz_comment {
  margin: 25px !important;
  background-image: none !important; }

/* Tabs */
.enhanceable_content.tabs {
  /* Tasks Forms */ }
  .enhanceable_content.tabs.playlist, .enhanceable_content.tabs.slideshow {
    max-width: 700px !important;
    margin-top: 30px; }
    .enhanceable_content.tabs.playlist > div, .enhanceable_content.tabs.slideshow > div {
      padding: 0;
      background-color: black !important;
      border-color: transparent; }
    .enhanceable_content.tabs.playlist ul li, .enhanceable_content.tabs.slideshow ul li {
      width: 100%;
      background-color: #f2f2f2;
      transition: .25s all;
      cursor: pointer;
      border-radius: 0 !important; }
      .enhanceable_content.tabs.playlist ul li.ui-tabs-active.ui-state-active, .enhanceable_content.tabs.slideshow ul li.ui-tabs-active.ui-state-active {
        background: #00838f !important;
        border-color: transparent !important; }
        .enhanceable_content.tabs.playlist ul li.ui-tabs-active.ui-state-active a, .enhanceable_content.tabs.slideshow ul li.ui-tabs-active.ui-state-active a {
          color: white !important; }
      .enhanceable_content.tabs.playlist ul li.ui-state-default.ui-corner-top.ui-state-hover, .enhanceable_content.tabs.slideshow ul li.ui-state-default.ui-corner-top.ui-state-hover {
        border-radius: 0 !important;
        border-color: transparent !important; }
      .enhanceable_content.tabs.playlist ul li:hover, .enhanceable_content.tabs.slideshow ul li:hover {
        border-color: transparent !important; }
      .enhanceable_content.tabs.playlist ul li a, .enhanceable_content.tabs.slideshow ul li a {
        text-decoration: none;
        color: black; }
  .enhanceable_content.tabs.slideshow > div {
    background-color: transparent; }
  .enhanceable_content.tabs.slideshow ul {
    display: flex;
    background-color: #f2f2f2;
    border-bottom-color: transparent; }
    .enhanceable_content.tabs.slideshow ul li {
      max-width: 20%;
      padding: 0;
      background-color: transparent !important;
      opacity: .25; }
      .enhanceable_content.tabs.slideshow ul li.ui-tabs-active.ui-state-active {
        opacity: 1;
        background-color: transparent !important; }
      .enhanceable_content.tabs.slideshow ul li a {
        padding: 0; }
      .enhanceable_content.tabs.slideshow ul li img {
        width: 100%;
        height: auto; }
  .enhanceable_content.tabs.playlist.acessibilidade ul {
    list-style: none !important; }
    .enhanceable_content.tabs.playlist.acessibilidade ul li {
      width: auto;
      display: inline !important; }
      .enhanceable_content.tabs.playlist.acessibilidade ul li a {
        text-decoration: none;
        color: black;
        display: inline-block !important; }
  .enhanceable_content.tabs li:before {
    content: ""; }
  .enhanceable_content.tabs .tasks_form .input1 {
    width: 300px;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #505050; }
  .enhanceable_content.tabs .tasks_form input.input1 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px; }
  .enhanceable_content.tabs .tasks_form input.input1 + .shadow-input1 {
    border-radius: 25px; }
  .enhanceable_content.tabs .tasks_form textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px; }
  .enhanceable_content.tabs .tasks_form textarea.input1 + .shadow-input1 {
    border-radius: 25px; }

/* -------------------------
----------- MENUS ----------
------------------------- */
/* ----- Elementos comuns -----*/
a.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer; }

.container.header {
  text-align: center;
  position: relative; }
  .container.header img, .container.header .img-banner {
    max-width: 700px !important;
    height: auto; }
  .container.header div.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0; }
    .container.header div.container > div {
      padding: 0 15px;
      margin-top: -15px; }
  .container.header * {
    color: white; }
  .container.header span {
    text-transform: uppercase; }
  .container.header h1 {
    line-height: 100%; }
    @media (max-width: 767px) {
      .container.header h1 {
        font-size: 24px; } }
  .container.header a {
    position: absolute;
    bottom: -20px;
    text-align: center; }

/* ----- Página inicial ----- */
.intro {
  margin-top: 90px !important; }
  .intro h2, .intro h3 {
    text-transform: none; }
  .intro h2 {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 1.8rem !important;
    font-weight: normal !important; }
  .intro .subheader {
    color: #005662;
    text-transform: uppercase;
    margin: 0;
    border-bottom: none; }
  .intro .title {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px; }
    .intro .title * {
      align-items: stretch; }
    .intro .title h1 {
      color: #00838f;
      padding-left: 15px;
      border-left: 2px solid #005662;
      margin: 0;
      font-size: 30px;
      line-height: 120%;
      height: 100%;
      font-weight: bold; }
    .intro .title span {
      margin: 0;
      font-size: 55px;
      color: #005662;
      font-weight: bold;
      padding-right: 15px;
      padding-left: 15px;
      transform: translateX(2px);
      line-height: 1;
      border-right: 2px solid #005662; }

.teacher {
  display: flex;
  align-items: flex-start;
  padding: 30px 0; }
  .teacher:not(:last-child) {
    border-bottom: 2px solid #f2f2f2; }
  @media (max-width: 767px) {
    .teacher {
      flex-flow: row wrap; } }
  .teacher h3, .teacher h4, .teacher p {
    margin: 0; }
  .teacher h3 {
    font-size: 1.5rem; }
  .teacher h4 {
    margin-bottom: 10px;
    font-size: 18px; }
  .teacher p {
    margin: 0; }
  .teacher img {
    border-radius: 50%;
    margin-right: 30px;
    width: 110px;
    height: auto; }

/* ----- Lista de conteúdo da semana ----- */
.content-item {
  display: flex;
  align-items: flex-start;
  text-decoration: none !important;
  margin-top: 2px;
  transition: all 0.25s;
  position: relative;
  -webkit-print-color-adjust: exact;
  max-width: 670px;
  padding: 30px 15px; }
  .content-item > div > * {
    margin: 0; }
  .content-item h2, .content-item h3 {
    text-transform: none; }
  .content-item .content {
    width: 100%; }
    .content-item .content img {
      max-width: 600px !important;
      height: auto; }
  .content-item .icon, .content-item div.arrow {
    width: 30px; }
  .content-item .icon {
    margin-right: 15px;
    margin-top: 3px; }
  .content-item .icon img {
    width: 26px;
    height: auto; }
  .content-item .icon + div {
    margin-left: 15px; }
  .content-item .arrow {
    margin-left: 15px;
    align-self: center;
    text-align: right;
    display: none; }
  .content-item.primary {
    box-shadow: inset 57px 0 0 0 #005662; }
  .content-item.tasks.primary {
    box-shadow: inset 57px 0 0 0 #a01f1f; }
  .content-item.forum.primary {
    box-shadow: inset 57px 0 0 0 #563895; }
  .content-item.secondary {
    box-shadow: inset 57px 0 0 0 #00838f; }
  .content-item.tasks.secondary {
    box-shadow: inset 57px 0 0 0 #d23a3a; }
  .content-item.neutral {
    box-shadow: inset 57px 0 0 0 #f2f2f2; }
    .content-item.neutral .icon img {
      filter: invert(100%); }
  .content-item h2, .content-item h2 span {
    color: black;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    padding-bottom: 5px; }
    .content-item h2 span, .content-item h2 span span {
      color: #005662; }
  .content-item h5, .content-item h5 span {
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: none; }
  .content-item.primary h5 {
    color: #005662; }
  .content-item.tasks.primary h5 {
    color: #a01f1f; }
  .content-item.forum.primary h5 {
    color: #563895; }
  .content-item.secondary h5 {
    color: #00838f; }
  .content-item.tasks.secondary h5 {
    color: #d23a3a; }

.content-list > .content-item {
  background-color: transparent; }
  .content-list > .content-item div.arrow {
    display: block; }
  .content-list > .content-item, .content-list > .content-item * {
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s; }
  .content-list > .content-item:not(.no-transition):hover *, .content-list > .content-item:not(.no-transition):hover h5 {
    color: white; }
  .content-list > .content-item:not(.no-transition).primary:hover {
    box-shadow: inset 700px 0 0 0 #005662; }
  .content-list > .content-item:not(.no-transition).tasks.primary:hover {
    box-shadow: inset 700px 0 0 0 #a01f1f; }
  .content-list > .content-item:not(.no-transition).forum.primary:hover {
    box-shadow: inset 700px 0 0 0 #563895; }
  .content-list > .content-item:not(.no-transition).secondary:hover {
    box-shadow: inset 700px 0 0 0 #00838f; }
  .content-list > .content-item:not(.no-transition).tasks.secondary:hover {
    box-shadow: inset 700px 0 0 0 #d23a3a; }

.content-list > .content-item.guide > div,
.content-item.guide > div {
  padding: 15px; }
.content-list > .content-item.guide.box,
.content-item.guide.box {
  background-color: #f2f2f2; }
.content-list > .content-item.guide.balao-fala,
.content-item.guide.balao-fala {
  padding: 30px 0;
  max-width: 700px;
  display: flex;
  flex-flow: row nowrap;
  padding-right: 0; }
  .content-list > .content-item.guide.balao-fala .foto,
  .content-item.guide.balao-fala .foto {
    position: relative; }
  .content-list > .content-item.guide.balao-fala .foto img,
  .content-item.guide.balao-fala .foto img {
    border-radius: 50%;
    max-width: 100% !important;
    height: auto; }
  .content-list > .content-item.guide.balao-fala .foto:before,
  .content-item.guide.balao-fala .foto:before {
    content: "";
    height: 16px;
    width: 16px;
    background-color: #f2f2f2;
    position: absolute;
    transform: rotate(-45deg);
    display: flex;
    top: calc(50% - 8px);
    left: -10px;
    align-self: stretch; }
  .content-list > .content-item.guide.balao-fala .foto:first-child,
  .content-item.guide.balao-fala .foto:first-child {
    margin-right: 15px; }
  .content-list > .content-item.guide.balao-fala .foto:first-child:before,
  .content-item.guide.balao-fala .foto:first-child:before {
    right: calc(-15px - 8px); }
  .content-list > .content-item.guide.balao-fala .foto:last-child,
  .content-item.guide.balao-fala .foto:last-child {
    margin-left: 15px; }
  .content-list > .content-item.guide.balao-fala .foto:last-child:before,
  .content-item.guide.balao-fala .foto:last-child:before {
    left: calc(-15px - 8px); }
  .content-list > .content-item.guide.balao-fala .content,
  .content-item.guide.balao-fala .content {
    background-color: #f2f2f2;
    position: relative;
    padding: .8em 1.5em;
    min-height: 75px; }
    .content-list > .content-item.guide.balao-fala .content p,
    .content-item.guide.balao-fala .content p {
      margin: 12px 0; }
  .content-list > .content-item.guide.balao-fala.align-top,
  .content-item.guide.balao-fala.align-top {
    align-items: flex-start; }
    .content-list > .content-item.guide.balao-fala.align-top .content:before,
    .content-item.guide.balao-fala.align-top .content:before {
      top: 4em; }
  .content-list > .content-item.guide.balao-fala.align-center,
  .content-item.guide.balao-fala.align-center {
    align-items: center; }
    .content-list > .content-item.guide.balao-fala.align-center .content:before,
    .content-item.guide.balao-fala.align-center .content:before {
      top: calc(50% - 8px); }
.content-list > .content-item.guide *, .content-list > .content-item.guide:hover *,
.content-item.guide *,
.content-item.guide:hover * {
  color: black; }
.content-list > .content-item.guide .label,
.content-item.guide .label {
  display: inline-block;
  padding: 5px 15px;
  padding-left: 30px;
  transform: translateX(-45px);
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative; }
  .content-list > .content-item.guide .label:before,
  .content-item.guide .label:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 15px; }
.content-list > .content-item.guide.bg-roxo,
.content-item.guide.bg-roxo {
  background-color: #f1edf8; }
  .content-list > .content-item.guide.bg-roxo p,
  .content-item.guide.bg-roxo p {
    color: #2b1c4b; }
  .content-list > .content-item.guide.bg-roxo .label,
  .content-item.guide.bg-roxo .label {
    background-color: #563895;
    color: white; }
    .content-list > .content-item.guide.bg-roxo .label:before,
    .content-item.guide.bg-roxo .label:before {
      border-color: transparent transparent #2b1c4b transparent; }
.content-list > .content-item.guide.bg-vermelho,
.content-item.guide.bg-vermelho {
  background-color: #fbeded; }
  .content-list > .content-item.guide.bg-vermelho p,
  .content-item.guide.bg-vermelho p {
    color: #4b0e0e; }
  .content-list > .content-item.guide.bg-vermelho .label,
  .content-item.guide.bg-vermelho .label {
    background-color: #d23a3a;
    color: white; }
    .content-list > .content-item.guide.bg-vermelho .label:before,
    .content-item.guide.bg-vermelho .label:before {
      border-color: transparent transparent #a01f1f transparent; }
.content-list > .content-item.guide.bg-azul,
.content-item.guide.bg-azul {
  background-color: #edf5fd; }
  .content-list > .content-item.guide.bg-azul p,
  .content-item.guide.bg-azul p {
    color: #001b3a; }
  .content-list > .content-item.guide.bg-azul .label,
  .content-item.guide.bg-azul .label {
    background-color: #1976d2;
    color: white; }
    .content-list > .content-item.guide.bg-azul .label:before,
    .content-item.guide.bg-azul .label:before {
      border-color: transparent transparent #004ba0 transparent; }
.content-list > .content-item.guide.bg-verde,
.content-item.guide.bg-verde {
  background-color: #ebfdff; }
  .content-list > .content-item.guide.bg-verde p,
  .content-item.guide.bg-verde p {
    color: black; }
  .content-list > .content-item.guide.bg-verde .label,
  .content-item.guide.bg-verde .label {
    background-color: #005662;
    color: white; }
    .content-list > .content-item.guide.bg-verde .label:before,
    .content-item.guide.bg-verde .label:before {
      border-color: transparent transparent #00838f transparent; }

.content-item.no-transition .overlay {
  visibility: hidden; }

/* -------------------------
------- WEEK UPDATE --------
------------------------- */
.title {
  position: relative;
  padding: 0;
  text-decoration: none !important;
  /* Semanas habilitadas 3o bimestre 2017 */
  /* Semanas habilitadas 4o bimestre 2017 */
  /* Semanas habilitadas 1o bimestre 2018 */
  /* Semanas habilitadas 2o bimestre 2018 */
  /* Semanas habilitadas 3o bimestre 2018 */
  /* Semanas habilitadas 4o bimestre 2018 */
  /* Semanas habilitadas 1o bimestre 2019 */
  /* Datas do Bimestre Atual */
  /* Semanas habilitadas 2o bimestre 2019 */
  /* Seta na última semana habilitada */
  /* Semanas desabilitadas */ }
  .title span {
    position: relative; }
  .title.semana-1 h1, .title.semana-2 h1, .title.semana-3 h1, .title.semana-4 h1, .title.semana-5 h1, .title.semana-6 h1, .title.semana-7 h1, .title.semana-8 h1 {
    transition: 0.25s all; }
  .title.semana-1:hover h1, .title.semana-2:hover h1, .title.semana-3:hover h1, .title.semana-4:hover h1, .title.semana-5:hover h1, .title.semana-6:hover h1, .title.semana-7:hover h1, .title.semana-8:hover h1 {
    color: #005662; }
  .title.s1b4a17 h1, .title.s2b4a17 h1, .title.s3b4a17 h1, .title.s4b4a17 h1, .title.s5b4a17 h1, .title.s6b4a17 h1, .title.s7b4a17 h1 {
    transition: 0.25s all; }
  .title.s1b4a17:hover h1, .title.s2b4a17:hover h1, .title.s3b4a17:hover h1, .title.s4b4a17:hover h1, .title.s5b4a17:hover h1, .title.s6b4a17:hover h1, .title.s7b4a17:hover h1 {
    color: #005662; }
  .title.s1b1a18 h1, .title.s2b1a18 h1, .title.s3b1a18 h1, .title.s4b1a18 h1, .title.s5b1a18 h1, .title.s6b1a18 h1, .title.s7b1a18 h1, .title.s8b1a18 h1 {
    transition: 0.25s all; }
  .title.s1b1a18:hover h1, .title.s2b1a18:hover h1, .title.s3b1a18:hover h1, .title.s4b1a18:hover h1, .title.s5b1a18:hover h1, .title.s6b1a18:hover h1, .title.s7b1a18:hover h1, .title.s8b1a18:hover h1 {
    color: #005662; }
  .title.s1b2a18 h1, .title.s2b2a18 h1, .title.s3b2a18 h1, .title.s4b2a18 h1, .title.s5b2a18 h1, .title.s6b2a18 h1, .title.s7b2a18 h1, .title.s7b2a18 h1, .titles8b2a18 h1 {
    transition: 0.25s all; }
  .title.s1b2a18:hover h1, .title.s2b2a18:hover h1, .title.s3b2a18:hover h1, .title.s4b2a18:hover h1, .title.s5b2a18:hover h1, .title.s6b2a18:hover h1, .title.s7b2a18:hover h1, .title.s7b2a18:hover h1, .titles8b2a18:hover h1 {
    color: #005662; }
  .title.s1b3a18 h1, .title.s2b3a18 h1, .title.s3b3a18 h1, .title.s4b3a18 h1, .title.s5b3a18 h1, .title.s6b3a18 h1, .title.s7b3a18 h1, .title.s8b3a18 h1 {
    transition: 0.25s all; }
  .title.s1b3a18:hover h1, .title.s2b3a18:hover h1, .title.s3b3a18:hover h1, .title.s4b3a18:hover h1, .title.s5b3a18:hover h1, .title.s6b3a18:hover h1, .title.s7b3a18:hover h1, .title.s8b3a18:hover h1 {
    color: #005662; }
  .title.s1b4a18 h1, .title.s2b4a18 h1, .title.s3b4a18 h1, .title.s4b4a18 h1, .title.s5b4a18 h1, .title.s6b4a18 h1, .title.s7b4a18 h1, .title.s8b4a18 h1 {
    transition: 0.25s all; }
  .title.s1b4a18:hover h1, .title.s2b4a18:hover h1, .title.s3b4a18:hover h1, .title.s4b4a18:hover h1, .title.s5b4a18:hover h1, .title.s6b4a18:hover h1, .title.s7b4a18:hover h1, .title.s8b4a18:hover h1 {
    color: #005662; }
  .title.s0b1a19 h1, .title.s1b1a19 h1, .title.s1medb1a19 h1, .title.s2b1a19 h1, .title.s2medb1a19 h1, .title.s3medb1a19 h1, .title.s3b1a19 h1, .title.s4b1a19 h1, .title.s5b1a19 h1, .title.s6b1a19 h1, .title.s7b1a19 h1, .title.s8b1a19 h1 {
    transition: 0.25s all; }
  .title.s0b1a19:hover h1, .title.s1b1a19:hover h1, .title.s1medb1a19:hover h1, .title.s2b1a19:hover h1, .title.s2medb1a19:hover h1, .title.s3medb1a19:hover h1, .title.s3b1a19:hover h1, .title.s4b1a19:hover h1, .title.s5b1a19:hover h1, .title.s6b1a19:hover h1, .title.s7b1a19:hover h1, .title.s8b1a19:hover h1 {
    color: #005662; }
  .title .before {
    line-height: .9rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    white-space: pre;
    font-weight: 700;
    border: 1px solid #005662;
    color: #005662;
    border-radius: 21px;
    height: 40px;
    min-width: 40px;
    z-index: 1;
    background-color: white; }
  .title.s1b2a19:before, .title.s9b1a19:before, .title.s2b2a19:before, .title.s3b2a19:before, .title.s10b1a19:before, .title.s4b2a19:before, .title.s5b2a19:before, .title.s6b2a19:before, .title.s7b2a19:before, .title.s12b1a19:before, .title.s8b2a19:before {
    line-height: .9rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    white-space: pre;
    font-weight: 700;
    border: 1px solid #005662;
    color: #005662;
    border-radius: 21px;
    height: 40px;
    min-width: 40px;
    z-index: 1; }
  .title.s1b2a19:before, .title.s9b1a19:before {
    content: "1 \A mai"; }
  .title.s2b2a19:before {
    content: "8 \A mai"; }
  .title.s3b2a19:before, .title.s10b1a19:before {
    content: "15 \A mai"; }
  .title.s4b2a19:before {
    content: "22 \A mai"; }
  .title.s5b2a19:before, .title.s11b1a19:before {
    content: "29 \A mai"; }
  .title.s6b2a19:before {
    content: "5 \A jun"; }
  .title.s7b2a19:before, .title.s12b1a19:before {
    content: "12 \A jun"; }
  .title.s8b2a19:before {
    content: "19 \A jun"; }
  .title.s1b2a19 h1, .title.s9b1a19 h1, .title.s2b2a19 h1, .title.s3b2a19 h1, .title.s10b1a19 h1, .title.s4b2a19 h1, .title.s5b2a19 h1, .title.s11b1a19 h1, .title.s6b2a19 h1, .title.s7b2a19 h1, .title.s12b1a19 h1, .title.s8b2a19 h1 {
    transition: 0.25s all; }
  .title.s1b2a19:hover h1, .title.s9b1a19:hover h1, .title.s2b2a19:hover h1, .title.s3b2a19:hover h1, .title.s10b1a19:hover h1, .title.s4b2a19:hover h1, .title.s5b2a19:hover h1, .title.s11b1a19:hover h1, .title.s6b2a19:hover h1, .title.s7b2a19:hover h1, .title.s12b1a19:hover h1, .title.s8b2a19:hover h1 {
    color: #005662; }
  .title.atual:before, .title.s8b2a19:before {
    background-color: #005662;
    color: white; }
  .title.atual span:before, .title.s8b2a19 span:before {
    content: "▶";
    position: absolute;
    left: -16px;
    top: 17px;
    color: #005662;
    z-index: -1;
    font-size: 24px; }
  .title.atual .before {
    background-color: #005662;
    color: white; }
  .title .desabilitada, .title.desabilitada {
    cursor: default;
    filter: grayscale(1);
    opacity: .15; }
    .title .desabilitada a.overlay, .title.desabilitada a.overlay {
      visibility: hidden; }

/* -------------------------
---------- PRINT -----------
------------------------- */
.print-only {
  display: none; }

@media print {
  .no-print {
    display: none; }

  .print-only {
    display: inline-block;
    margin-top: 0px !important; }
    .print-only h1, .print-only h5, .print-only span {
      color: black !important; }
    .print-only .title h1 {
      border-color: black !important; }
    .print-only .title span {
      border-color: black !important; }

  .user_content .content-item {
    box-shadow: none !important;
    margin-left: 0;
    padding-left: 0; }
    .user_content .content-item .icon {
      align-self: stretch;
      padding: 15px;
      -webkit-print-color-adjust: exact; }
    .user_content .content-item.primary .icon {
      background-color: #005662 !important; }
    .user_content .content-item.secondary .icon {
      background-color: #00838f !important; }
    .user_content .content-item.tasks.primary .icon {
      background-color: #a01f1f !important; }
    .user_content .content-item.tasks.secondary .icon {
      background-color: #d23a3a !important; }
    .user_content .content-item.forum.primary .icon {
      background-color: #563895 !important; }

  .quiz-header h1#quiz-title, .quiz-submission .quiz-score,
  .quiz-submission #quiz-duration,
  #quiz_student_details, #quiz-submission-version-table,
  #question-not-graded-text + div, .quiz-header h2 {
    display: none !important; }

  .display_question.question.essay_question {
    width: 100% !important; } }
/* ------------------------
------ NOVOS MODELOS ------
------------------------- */
.sona.content-item.neutral, .abaco.content-item.neutral, .dinamo.content-item.neutral {
  box-shadow: none;
  flex-direction: column;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .sona.content-item.neutral .header, .abaco.content-item.neutral .header, .dinamo.content-item.neutral .header {
    display: flex;
    align-items: center; }
    .sona.content-item.neutral .header .icon, .abaco.content-item.neutral .header .icon, .dinamo.content-item.neutral .header .icon {
      padding-left: 0;
      padding-right: 15px;
      margin-right: 15px; }
    .sona.content-item.neutral .header h2, .abaco.content-item.neutral .header h2, .dinamo.content-item.neutral .header h2 {
      padding: 0; }
  .sona.content-item.neutral .content, .abaco.content-item.neutral .content, .dinamo.content-item.neutral .content {
    margin-left: 0;
    margin-top: 15px; }
    .sona.content-item.neutral .content img, .abaco.content-item.neutral .content img, .dinamo.content-item.neutral .content img {
      margin: 30px -15px;
      max-width: 700px !important;
      height: auto; }
@keyframes bandeira {
  from {
    transform: rotate(60deg); }
  to {
    transform: rotate(65deg); } }
.sona.content-item.parabens.opt1, .abaco.content-item.parabens.opt1, .dinamo.content-item.parabens.opt1 {
  background-color: #f2f2f2;
  max-width: 100%; }
  .sona.content-item.parabens.opt1 .personagem, .abaco.content-item.parabens.opt1 .personagem, .dinamo.content-item.parabens.opt1 .personagem {
    position: absolute;
    width: 22%;
    z-index: -1;
    right: -120px;
    bottom: -4px;
    top: 0;
    transform: rotate(60deg); }
  .sona.content-item.parabens.opt1:hover .personagem, .abaco.content-item.parabens.opt1:hover .personagem, .dinamo.content-item.parabens.opt1:hover .personagem {
    animation: bandeira ease-in-out 1s infinite alternate; }
.sona.content-item.parabens.opt2, .abaco.content-item.parabens.opt2, .dinamo.content-item.parabens.opt2 {
  display: block !important;
  padding: 0; }
  .sona.content-item.parabens.opt2 .box, .abaco.content-item.parabens.opt2 .box, .dinamo.content-item.parabens.opt2 .box {
    display: flex;
    max-width: 100%;
    min-height: 250px;
    align-items: center;
    position: relative;
    background-color: #edf5fd;
    transition: all 1s; }
    .sona.content-item.parabens.opt2 .box:hover, .abaco.content-item.parabens.opt2 .box:hover, .dinamo.content-item.parabens.opt2 .box:hover {
      background-color: #c8e9f6; }
    .sona.content-item.parabens.opt2 .box .content, .abaco.content-item.parabens.opt2 .box .content, .dinamo.content-item.parabens.opt2 .box .content {
      padding: 30px; }
    .sona.content-item.parabens.opt2 .box .mountain, .abaco.content-item.parabens.opt2 .box .mountain, .dinamo.content-item.parabens.opt2 .box .mountain {
      max-width: 33% !important;
      z-index: 1;
      align-self: flex-end; }
    .sona.content-item.parabens.opt2 .box .sol, .abaco.content-item.parabens.opt2 .box .sol, .dinamo.content-item.parabens.opt2 .box .sol {
      position: absolute;
      border-radius: 50%;
      bottom: 10px;
      right: 40px;
      background-color: #ffeb7f;
      height: 100px;
      width: 100px;
      transition: all ease-in-out .5s; }
  .sona.content-item.parabens.opt2:hover .sol, .abaco.content-item.parabens.opt2:hover .sol, .dinamo.content-item.parabens.opt2:hover .sol {
    bottom: 90px;
    background-color: #FFD700; }
.sona .guide.box, .abaco .guide.box, .dinamo .guide.box {
  margin-top: 30px;
  margin-bottom: 30px; }

.resumo-visual {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white !important;
  background-color: #00838f;
  transition: background-color 1s; }
  .resumo-visual h3, .resumo-visual p {
    color: white; }
  .resumo-visual img {
    transform: scale(0.75) translateX(15px);
    transition: all 0.5s; }
  .resumo-visual a {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer; }
  .resumo-visual:hover {
    background-color: #005662; }
  .resumo-visual:hover img {
    transform: scale(0.8) translateX(15px); }

.resumo-visual-b {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  transition: all .25s; }
  .resumo-visual-b:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 5px lightgray; }
  .resumo-visual-b .content {
    flex-grow: 1;
    padding: 15px; }
    .resumo-visual-b .content h4 {
      margin-top: 0;
      margin-bottom: 5px; }
    .resumo-visual-b .content p {
      margin: 0; }
  .resumo-visual-b .preview {
    width: 300px;
    align-self: stretch;
    /*background-image: url("../sona-mapaMental.png");*/
    background-size: cover;
    background-color: #00838f;
    background-blend-mode: multiply; }
  .resumo-visual-b a {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer; }

.owner {
  position: relative;
  z-index: 2; }

.owner img {
  margin-left: 5px; }

.owner:after {
  content: 'Produzido pela Univesp';
  background-color: #ED8A19;
  color: black;
  margin-left: 5px;
  text-transform: none;
  display: inline;
  padding: 0 5px;
  opacity: 0;
  font-size: 13px;
  transition: .25s all; }

.owner:hover::after {
  opacity: 1; }

.user_content * {
  max-width: 700px !important; }

.user_content > * {
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important; }

.user_content > .fluid, .user_content > .fluid * {
  max-width: 100% !important; }

.pages.show .show-content {
  overflow-x: inherit !important; }

/*# sourceMappingURL=ava_global.css.map */
