@media (min-width: 800px) and (max-width: 1450px) {
  .construtor-bases h1{
    text-transform: uppercase;
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    margin-left: 63%;
    font-weight: bold;
    text-shadow: 5px 5px 8px black;
  }

  .construtor-bases{
    margin-left: 12.5%;
    position: absolute;
    top: 80px;
  }

  .gridContainer-bases{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px 100px 100px;
    margin-left: 27%;
    grid-gap: 25px 30px;;
  }

  .gridItem{
    padding: 15px;
    background-color: #162833;
    color: #00afaf;
    text-align: center;
    border-radius: 10px;
    font-size: 14pt;
    box-shadow: 5px 5px 8px #00afaf;
    line-height: 200%;
  }

  .gridItem:hover{
    cursor: pointer;
    box-shadow: 8px 8px 15px black;
    background-color: #dde5e8;
    color: #162833;
  }

  .altura{
    line-height: 350%;
  }
}

@media (min-width: 1451px) {
  .construtor-bases h1{
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 52.5%;
  }

  .construtor-bases{
    position: absolute;
    top: 200px;
    text-align: center;
    margin-left: 23%;
  }

  .gridContainer-bases{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px 100px 100px;
    margin-left: 27%;
    grid-gap: 35px 35px;
  }

  .gridItem{
    padding: 15px;
    background-color: #162833;
    color: #00afaf;
    text-align: center;
    border-radius: 10px;
    font-size: 14pt;
    box-shadow: 5px 5px 8px #00afaf;
    line-height: 200%;
  }

  .gridItem:hover{
    cursor: pointer;
    box-shadow: 8px 8px 15px black;
    background-color: #dde5e8;
    color: #162833;
  }

  .altura{
    line-height: 350%;
  }
}
