@media (min-width: 0px) and (max-width: 650px) {
  .gridCodigos{
      text-align: center;
      margin-left: 33%;
      margin-top: 10%;
    }

    .codigoItens{
      display: block;
      width: 220px;
      height: 140px;
      background-color: #543c52;
      color: #f1e8e6;
      border-radius: 15px;
      font-size: 20pt;
      cursor: pointer;
      box-shadow: 3px 3px 20px #361d32;
    }

    .codigoItens:hover{
      box-shadow: 8px 8px 15px #edd2cb;
      background-color: #f55951;
      color: #f1e8e6;
      font-weight: 400;
    }

    .codigoItens p{
      padding-top: 50px;
      margin-top: 50px;
    }

    #codItens2linhas p{
      margin-top: 33px;
    }
}

@media (min-width: 651px) and (max-width: 799px){
  .gridCodigos{
      text-align: center;
      margin-left: 33%;
      margin-top: 10%;
    }

    .codigoItens{
      display: block;
      width: 220px;
      height: 140px;
      background-color: #543c52;
      color: #f1e8e6;
      border-radius: 15px;
      font-size: 20pt;
      cursor: pointer;
      box-shadow: 3px 3px 20px #361d32;
    }

    .codigoItens:hover{
      box-shadow: 8px 8px 15px #edd2cb;
      background-color: #f55951;
      color: #f1e8e6;
      font-weight: 400;
    }

    .codigoItens p{
      padding-top: 50px;
      margin-top: 50px;
    }

    #codItens2linhas p{
      margin-top: 33px;
    }
}

@media (min-width: 800px) and (max-width: 990px){
  .gridCodigos{
      display: grid;
      grid-template-columns: 25% 25% 25%;
      grid-column-gap: 10%;
      grid-row-gap: 50px;
      text-align: center;
      margin-left: 5%;
      margin-top: 10%;
    }

    .codigoItens{
      width: 220px;
      height: 140px;
      background-color: #543c52;
      color: #f1e8e6;
      border-radius: 15px;
      font-size: 20pt;
      cursor: pointer;
      box-shadow: 3px 3px 20px #361d32;
    }

    .codigoItens:hover{
      box-shadow: 8px 8px 15px #edd2cb;
      background-color: #f55951;
      color: #f1e8e6;
      font-weight: 400;
    }

    .codigoItens p{
      margin-top: 50px;
    }

    #codItens2linhas p{
      margin-top: 33px;
    }
}

@media (min-width: 991px) and (max-width: 1450px){
  .gridCodigos{
      display: grid;
      grid-template-columns: 25% 25% 25%;
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      text-align: center;
      margin-left: 23%;
      margin-top: 10%;
    }

    .codigoItens{
      width: 250px;
      height: 150px;
      background-color: #543c52;
      color: #f1e8e6;
      border-radius: 15px;
      font-size: 20pt;
      cursor: pointer;
      box-shadow: 3px 3px 20px #361d32;
    }

    .codigoItens:hover{
      box-shadow: 8px 8px 15px #edd2cb;
      background-color: #f55951;
      color: #f1e8e6;
      font-weight: 400;
    }

    .codigoItens p{
      margin-top: 50px;
    }

    #codItens2linhas p{
      margin-top: 33px;
    }
}

@media (min-width: 1451px) {
  .gridCodigos{
      display: grid;
      grid-template-columns: 25% 25% 25%;
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      text-align: center;
      margin-left: 23%;
      margin-top: 10%;
    }

    .codigoItens{
      width: 250px;
      height: 150px;
      background-color: #543c52;
      color: #f1e8e6;
      border-radius: 15px;
      font-size: 20pt;
      cursor: pointer;
      box-shadow: 3px 3px 20px #361d32;
    }

    .codigoItens:hover{
      box-shadow: 8px 8px 15px #edd2cb;
      background-color: #f55951;
      color: #f1e8e6;
      font-weight: 400;
    }

    .codigoItens p{
      margin-top: 50px;
    }

    #codItens2linhas p{
      margin-top: 33px;
    }
}
