@mixin verySmall() {
    @media only screen and (max-width: 650px) {
        @content;
    }
}
@mixin small() {
    @media only screen and (max-width: 799px) {
        @content;
    }
}
@mixin medium() {
    @media only screen and (max-width: 990px) {
        @content;
    }
}
@mixin big() {
    @media only screen and (max-width: 1450px) {
        @content;
    }
}
@mixin veryBig() {
    @media only screen and (min-width: 1451px) {
        @content;
    }
}

@mixin header {
  margin: 0 20% 0 20%;
}

@mixin headerListItens {
  padding: 15px;
}

@mixin titlePage {
  text-align: center;
  color: #543c52;
  text-shadow: 0px 1px 1px #361d32;
  padding: 50px;
}



// @include verySmall {
//   .header-doc-item {
//     @include headerItemVerySmall;
//   }
// }
//
// @include small {
//   .header-doc-item {
//     @include headerItemSmall;
//   }
// }
//
// @include medium {
//   .header-doc-item {
//     @include headerItemMedium;
//   }
// }

@include big {
  .header-doc-item {
    @include headerListItens;
  }
  .header-doc-title {
    @include titlePage;
  }
  .doc-box {
    @include header;
  }
}

@include veryBig {
  .header-doc-item {
    @include headerListItens;
  }
  .header-doc-title {
    @include titlePage;
  }
  .doc-box {
    @include header;
  }
}
