@mixin verySmall {
    @media (min-width: 0px) and (max-width: 650px) {@content;}
}
@mixin small {
    @media (min-width: 651px) and (max-width: 799px) {@content;}
}
@mixin medium {
    @media (min-width: 800px) and (max-width: 990px) {@content;}
}
@mixin big {
    @media (min-width: 991px) and (max-width: 1450px) {@content;}
}
@mixin veryBig {
    @media (min-width: 1451px) {@content;}
}

$textColor : #543c52;
$shadowTitle : 0px 1px 1px #361d32;
$textSize : 13pt;
$textSizeBig : 15pt;

@mixin header {
  margin: 0 20% 0 20%;
}

@mixin headerSmall {
  margin: 0 5% 0 5%;
}

@mixin headerContent {
  margin-top: 12%;
  margin-bottom: 10%;
  background: white;
  border-radius: 20px;
  padding: 20px 10% 20px 10%;
}

@mixin headerContentSmall {
  margin-top: 12%;
  margin-bottom: 10%;
  background: white;
  border-radius: 30px;
  padding: 20px 3% 20px 3%;
}

@mixin headerListItens {
  padding: 15px;
  font-size: $textSize;
  font-weight: bold;
  color: $textColor;
  list-style-type: none;
}

@mixin titlePage {
  text-align: center;
  color: $textColor;
  text-shadow: $shadowTitle;
  padding: 50px;
}

@mixin headerParagraph {
  color: $textColor;
  font-size: $textSizeBig;
}

@include verySmall {
  .header-doc-item {@include headerListItens}
  .header-doc-title {@include titlePage}
  .doc-box {@include headerSmall}
  .header-paragraph {@include headerParagraph}
  .header-content {@include headerContentSmall}
}

@include small {
  .header-doc-item {@include headerListItens}
  .header-doc-title {@include titlePage}
  .doc-box {@include headerSmall}
  .header-paragraph {@include headerParagraph}
  .header-content {@include headerContentSmall}
}

@include medium {
  .header-doc-item {@include headerListItens}
  .header-doc-title {@include titlePage}
  .doc-box {@include headerSmall}
  .header-paragraph {@include headerParagraph}
  .header-content {@include headerContentSmall}
}

@include big {
  .header-doc-item {@include headerListItens}
  .header-doc-title {@include titlePage}
  .doc-box {@include header}
  .header-paragraph {@include headerParagraph}
  .header-content {@include headerContent}
}

@include veryBig {
  .header-doc-item {@include headerListItens}
  .header-doc-title {@include titlePage}
  .doc-box {@include header}
  .header-paragraph {@include headerParagraph}
  .header-content {@include headerContent}
}
