@media (min-width: 0px) and (max-width: 650px) {
  .title-main-codigo {
    font-size: 15pt;
  }

  .secao-code {
    background-color: #272822;
    padding: 15px;
    color: #08b0bf;
    border-radius: 0 20px 0 0;
    text-align: left;
  }

  .copy-button {
    position: absolute;
    right: 37%;
  }

  .gridCodigosCanvas {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .div-gif {
    display: none;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 651px) and (max-width: 799px){
  .title-main-codigo {
    font-size: 15pt;
  }

  .secao-code {
    background-color: #272822;
    padding: 15px;
    color: #08b0bf;
    border-radius: 0 20px 0 0;
    text-align: left;
  }

  .copy-button {
    position: absolute;
    right: 37%;
  }

  .gridCodigosCanvas {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  .title-main-codigo {
    font-size: 15pt;
  }

  .secao-code {
    background-color: #272822;
    padding: 15px;
    color: #08b0bf;
    border-radius: 0 20px 0 0;
    text-align: left;
  }

  .copy-button {
    position: absolute;
    right: 37%;
  }

  .gridCodigosCanvas {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 991px) and (max-width: 1450px) {
  .title-main-codigo {
    font-size: 15pt;
  }

  .secao-code {
    background-color: #272822;
    padding: 15px;
    color: #08b0bf;
    border-radius: 0 20px 0 0;
    text-align: left;
  }

  .copy-button {
    position: absolute;
    right: 61%;
  }

  .gridCodigosCanvas {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 1451px) {
  .title-main-codigo {
    font-size: 15pt;
  }

  .secao-code {
    background-color: #272822;
    padding: 15px;
    color: #08b0bf;
    border-radius: 0 20px 0 0;
    text-align: left;
  }

  .copy-button {
    position: absolute;
    right: 61%;
  }

  .gridCodigosCanvas {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}
