@media (min-width: 0px) and (max-width: 650px) {
  .div-gif {
    display: none;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 651px) and (max-width: 799px){
  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 991px) and (max-width: 1450px) {
  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}

@media (min-width: 1451px) {
  .div-gif {
    margin-top: 10%;
    margin-left: 15%;
  }

  .menu-superior {
    /* display:none; */
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }
}
