body {
    font-family: "Barlow", sans-serif;
}

.btn-challenge, a.btn-challenge {
  font-family: "Barlow", sans-serif;
  white-space: normal;
  padding: 10px;
  border-radius: 5px;
  background-color: #DFE6E8;
  margin-left: 10px;
}
.btn-challenge:hover{
  cursor: pointer;
}
#conteudo {
  padding: 1rem 2rem;
  flex-grow: 1;
  color: #172833;
}
  #conteudo .item:not(.ativo){
    display: none;
  }
    #conteudo .item .titulo {
      font-family: "Barlow", sans-serif;
      margin-bottom: 2rem;
    }
    #conteudo .item .lista-perguntas li {
      margin-top: 2rem;
    }
    #conteudo .item .lista-perguntas .alternativas {
      margin-top: 1rem;
    }
      #conteudo .item .lista-perguntas .alternativas button.btn-challenge {
        background-color: #DFE6E8;
        border: 2px solid transparent;
      }
      #conteudo .item .lista-perguntas .alternativas button.btn-challenge:hover {
        background-color: #C4D1D6;
      }
      #conteudo .item .lista-perguntas .alternativas.alternativas-block button.btn-challenge {
        display: block;
        margin-top: .5rem;
        text-align: left;
      }
      #conteudo .item .lista-perguntas .alternativas .feedback {
        font-size: .8rem;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
      }
      #conteudo .item .lista-perguntas .alternativas * {
        display: inline;
      }
      #conteudo .item .lista-perguntas .alternativas-block * {
        display: block;
      }
