/* CSS da Pagina da videoaula React */

@media (min-width: 800px) and (max-width: 1450px) {
  #gerarBotao {
    color: white;
    background-color: #162833;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Barlow';
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #024147;
    border: 0;
    margin-bottom: 20px;
  }

  .graduation{
    width: 500px !important;
  }

  #gerarBotao:hover {
    color: #162833;
    background-color: white;
    box-shadow: 5px 5px 10px #024147;
    cursor: pointer;
  }

  .gridContainer-videoaula {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-column-gap: 90px;
    background-color: #00838f;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 4%;
  }

  .rowOne {
    grid-column: 1 / -1;
    padding-bottom: 50px;
    background-color: #00838f;
  }

  .rowTwo {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 30px;
    background-color: #00838f;
  }

  .btn {
    width: 100%;
  }

  .headerFirstDiv {
    font-size: 15pt;
    text-align: left;
    margin-left: 60px;
    padding: 20px;
    color: #024147;
  }

  #headerPreview {
    display: none;
    margin-bottom: 5px;
  }

  #simulacaoCanvas {
    background-color: #ebf0f2;
    padding: 20px;
    font-size: 14pt;
    color: #00838f;
    margin-top: 5px;
    border-bottom: 5px solid #14aadb;
    text-align: center;
  }

  .rowThree {
    grid-column: 1 / -1;
    text-align: left;
    margin-left: 210px;
    background-color: #00838f;
  }

  .videoaula {
    text-align: left;
    background-color: #00838f;
    padding-bottom: 0px;
  }

  .form-group {
    background-color: #00838f;
    margin: 0 0 76px;
  }

  .label-one {
    display: inline;
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #00838f;
    color: #024147;
  }

  .input-one {
    display: inline;
    background-color: #ebf0f2;
    color: #024147;
    padding: 5px;
    border-radius: 6px;
    border: 0;
    font-size: 15.5pt;
    margin: 0 0 60px 8px;
  }

  .input-one::placeholder {
    color: #00838f;
    font-size: 9.5pt;
    font-style: italic;
  }

  #last-div-form {
    margin-bottom: 0;
  }

  #content {
    background-color: #00838f;
    color: #004f60;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 800px;
  }

  .main-content {
    padding-bottom: 80px;
    background-color: white;
    height: 800px;
    background-color: #00838f;
    text-align: center;
    padding-left: 10%;
  }

  .paragraph {
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #024147;
  }

  .woody {
    border-radius: 10px;
    width: 300px;
  }
}

@media (min-width: 1451px) {
  #gerarBotao {
    background-color: #162833;
    color: #00afaf;
    font-size: 20pt;
    font-weight: bold;
    width: 120px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #00afaf;
    border: 0;
  }

  #gerarBotao:hover {
    box-shadow: 4px 4px 15px black;
    background-color: #dde5e8;
    color: #162833;
    cursor: pointer;
  }

  .gridContainer-videoaula {
    display: grid;
    grid-template-columns: 50% 40%;
    /* grid-column-gap: 150px; */
    background-color: #00838f;
    margin-top: 3%;
  }

  .rowOne {
    grid-column: 1 / -1;
    padding-bottom: 50px;
    background-color: #00838f;
  }

  .rowTwo {
    display: grid;
    grid-template-columns: 300px 300px;
    margin-left: 90px;
    background-color: #00838f;
  }

  .headerFirstDiv {
    font-size: 20pt;
    text-align: left;
    margin-left: 60px;
    padding: 20px;
    color: #024147;
    font-family: 'Raleway'
  }

  #headerPreview {
    display: none;
    margin-bottom: 5px;
    text-align: center;
  }

  #simulacaoCanvas {
    background-color: #ebf0f2;
    padding: 20px;
    color: #00838f;
    margin-top: 5px;
    border-bottom: 5px solid #14aadb;
  }

  .rowThree {
    grid-column: 1 / -1;
    text-align: left;
    margin-left: 270px;
    background-color: #00838f;
  }

  .videoaula {
    text-align: left;
    background-color: #00838f;
    padding-bottom: 0px;
  }

  .form-group {
    background-color: #00838f;
    margin: 0 0 76px;
  }

  .label-one {
    display: inline;
    font-size: 18pt;
    font-family: 'Raleway';
    font-weight: lighter;
    background-color: #00838f;
    color: #024147;
  }

  .input-one {
    display: inline;
    background-color: #ebf0f2;
    color: #024147;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    font-size: 16pt;
    margin: 0 0 57px 17px;
  }

  .input-one::placeholder {
    color: #00838f;
    font-size: 9.5pt;
    font-style: italic;
  }

  #last-div-form {
    margin-bottom: 0;
  }

  #content {
    background-color: #00838f;
    color: #004f60;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 800px;
  }

  #preview-canvas {
    text-align: center;
  }

  .main-content {
    padding-bottom: 80px;
    background-color: white;
    height: 800px;
    background-color: #00838f;
    text-align: center;
  }

  .paragraph {
    font-size: 15pt;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #024147;
  }

  .woody {
    border-radius: 10px;
  }
}
