$textColor : #543c52;
$shadowTitle : 0px 1px 1px #361d32;
$hoverColor : #f55951;

// Mixins Tamanhos
@mixin verySmall() {
  @media (min-width: 0px) and (max-width: 650px) {@content;}
}

@mixin small() {
  @media (min-width: 651px) and (max-width: 799px) {@content;}
}

@mixin medium() {
  @media (min-width: 800px) and (max-width: 990px) {@content;}
}

@mixin big() {
  @media (min-width: 991px) and (max-width: 1450px) {@content;}
}

@mixin veryBig() {
  @media (min-width: 1451px) {@content;}
}

// Mixins Página
@mixin loginSenhas {
  text-align: left;
  margin-left: 30%;
  margin-right: 20%;
}

@mixin loginSmallMedium{
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}

@mixin gridSenhas {
  display: block;
  margin-top: 20%;
}

@mixin gridSenhasBig {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin: 40px 0 0 20px;
}

@mixin gridSenhasVeryBig {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 50px 0 0 100px;
}

@mixin iconSenhas {
  color: #af1c26;
  font-size: 5em;
  &:hover{
    color: $hoverColor;
  }
}

@mixin iconSmallMedium{
  color: #af1c26;
  font-size: 4em;
  &:hover{
    color: $hoverColor;
  }
}

@mixin copySenhas{
  background: #8996a9;
  color: white;
  &:hover{
    background: #af1c26;
    cursor: pointer;
  }
}

@mixin paragrafoSenhas {
  color: #af1c26;
}

@mixin paragrafoSenhasVeryBig {
  color: #af1c26;
  font-size: 12pt;
}

@mixin loginSenhas2 {
  color: #af1c26;
  font-size: 1.3em;
  text-shadow: $shadowTitle;
}

@mixin loginSenhas2Big {
  color: #af1c26;
  font-size: 1.2em;
  text-shadow: $shadowTitle;
}

@mixin loginSenhas2VeryBig {
  color: #af1c26;
  font-size: 1.5em;
  text-shadow: $shadowTitle;
}

// Includes
@include verySmall{
  #login-canvas, #login-github, #login-drive{
    @include loginSenhas;
  }

  #gridSenhas{
    @include gridSenhas;
  }

  #icon-canvas2, #github-senhas, #gabaritos-senhas{
    @include iconSenhas;
  }

  #copy-1, #copy-2, #copy-3, #copy-4, #copy-5, #copy-6, #copy-7, #copy-8, #copy-9, #copy-10{
    @include copySenhas;
  }

  .paragrafo-senhaspage{
    @include paragrafoSenhas;
  }

  .login{
    @include loginSenhas2;
  }
}

@include small{
  #gridSenhas{
    @include gridSenhas;
  }

  #login-canvas, #login-github, #login-drive{
    @include loginSmallMedium;
  }

  #icon-canvas2, #github-senhas, #gabaritos-senhas{
    @include iconSmallMedium;
  }

  #copy-1, #copy-2, #copy-3, #copy-4, #copy-5, #copy-6, #copy-7, #copy-8, #copy-9, #copy-10{
    @include copySenhas;
  }

  .paragrafo-senhaspage{
    @include paragrafoSenhas;
  }

  .login{
    @include loginSenhas2;
  }
}

@include medium{
  #gridSenhas{
    @include gridSenhas;
  }

  #login-canvas, #login-github, #login-drive{
    @include loginSmallMedium;
  }

  #icon-canvas2, #github-senhas, #gabaritos-senhas{
    @include iconSmallMedium;
  }

  #copy-1, #copy-2, #copy-3, #copy-4, #copy-5, #copy-6, #copy-7, #copy-8, #copy-9, #copy-10{
    @include copySenhas;
  }

  .paragrafo-senhaspage{
    @include paragrafoSenhas;
  }

  .login{
    @include loginSenhas2;
  }
}

@include big{
  #gridSenhas{
    @include gridSenhasBig;
  }

  #icon-canvas2, #github-senhas, #gabaritos-senhas{
    @include iconSmallMedium;
  }

  #copy-1, #copy-2, #copy-3, #copy-4, #copy-5, #copy-6, #copy-7, #copy-8, #copy-9, #copy-10{
    @include copySenhas;
  }

  .paragrafo-senhaspage{
    @include paragrafoSenhas;
  }

  .login{
    @include loginSenhas2Big;
  }
}

@include veryBig{
  #gridSenhas{
    @include gridSenhasVeryBig;
  }

  #icon-canvas2, #github-senhas, #gabaritos-senhas{
    @include iconSenhas;
  }

  #copy-1, #copy-2, #copy-3, #copy-4, #copy-5, #copy-6, #copy-7, #copy-8, #copy-9, #copy-10{
    @include copySenhas;
  }

  .paragrafo-senhaspage{
    @include paragrafoSenhasVeryBig;
  }

  .login{
    @include loginSenhas2Big;
  }
}
